<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  
  
  <body>
    This page was created in AngularJS xx
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      to see it below the line
      <hr>
      below horizontal line is processed output
      <h1>Hello {{yourName}}! by Jan</h1>
    </div>
  </body>
</html>
