<!doctype html>
<html ng-app="App1">
<head>
<title>PHP MySQL API Consumed with AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script  > 
  
  var App=angular.module('App1',[]);
  App.controller('GetUsers2', function($scope,$http) {
    $http.get('apiDb3.php').then (function(res) {
      $scope.lineBlock=res.data;
    });  
  });
  
</script>
</head>

<body>
  <div ng-controller="GetUsers2">
dump input json:<br>
{{lineBlock}}
<hr>  
Final table <br>
  <table border="1" style="width:100%">
  <thead><tr>
      <th>runId </th> <th>operator</th> <th>time stamp</th><th>remark</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="line in lineBlock">
      <td>{{line.runId}}</td><td>{{ line.operator }}</td><td>{{line.timeStamp}}</td><td>{{line.remark}}</td>
</tr>
</tbody>
</tfoot></tfoot>
</table>

</div>
</body>
