p.ex0 {
border: 1px solid red;
    background-color: yellow;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

p.ex2 {
    padding: 0.5cm 3cm;
}

div {
    border: 1px solid blue;
    margin-left: 50px;
}


table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th {
    height: 50px;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {background-color: #f5f500}


