<html>

  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  </head>

  <script>
    var app1 = angular.module('myApp', []);
    app1.controller('myCtrl', function($scope, $timeout) {
    var startTime = new Date();
    $scope.counter = 0;
    $scope.period_ms=550;
   

    $scope.stopwatch = 0;
    var deltaTime= function() {
        $scope.stopwatch = (new Date() - startTime) / 1000;
    };

    var countUp = function() {
        $scope.counter +=1;   
        $timeout(countUp,  $scope.period_ms);
        deltaTime();
    }
    countUp(); // activate infinite loop
});
   

</script>

<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <span>Timer  counter={{counter}},  update interval {{period_ms}} (ms)</span>
<hr>
True elapsed time  sec={{ stopwatch }}

<hr>
  

</div>


  </body>

</html>
