<!DOCTYPE html>
<html ng-app="geo">
<body>
  <div ng-controller="geoCtrl">
    
    I know who you are:<br>
    IP={{ip}} <br>
    hostname={{hostname}} <br>
    GPS location={{loc}}<br>
    org={{org}}<br>
    city={{city}}<br>
    region={{region}}<br>
    country={{country}}<br>
    postal={{postal}}
    
  </div>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script>

	var geo = angular.module('geo', [])
	.controller('geoCtrl', ['$scope', '$http', function($scope, $http) {
		$http.jsonp('http://ipinfo.io/?callback=JSON_CALLBACK')
			.success(function(data) {
			$scope.ip = data.ip;
			$scope.hostname = data.hostname;
			$scope.loc = data.loc; //lat-longtitude
			$scope.org = data.org; //organization
			$scope.city = data.city;
			$scope.region = data.region; //state
			$scope.country = data.country;
			$scope.postal = data.postal; //city area code
		});
	}]);
	</script>
</body>
</html>
