<html>

  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  </head>

  <script>
    var app1 = angular.module('myApp', []);
    app1.controller('myCtrl', function($scope, $timeout) {
    $scope.timeInMs = 0;
    $scope.counter = 0;
    var period=550;

    var countUp = function() {
        $scope.counter +=1;   
        $scope.timeInMs+= period;
        $timeout(countUp, period);

    }
    countUp(); // activate infinite loop
});
    
</script>

<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <span>Elapsed Time (in sec): {{timeInMs/1000.}},  counter={{counter}}</span>
</div>

  </body>

</html>
