<!DOCTYPE html>
<html>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
works ver-angularjs=1.4.8
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


<body>


<div ng-app="myApp" ng-controller="customersCtrl"> 

Note, column names were remapped from those in mySql inthe php-code
<table>
<tr ng-repeat="x in resultPhp.records track by $index">
<td>{{ x.Name }}</td>
<td>{{ x.City }}</td>
</tr>
</table>

<hr>
RAW DUMP of PHP output:<br>
{{resultPhp}}

</div>

<script>
  var app = angular.module('myApp', []);
  app.controller('customersCtrl', function($scope, $http) {
  // set defaults
  $scope.url="rdMySql-noInp.php";
  $scope.resultPhp="default55";
  console.log("customersCtrl: cnstr  result=", $scope.resultPhp);
 $http.post($scope.url, { "val1" : "ABC22", "dbg2": $scope.debug})
        .success(function(result, status) {
                $scope.status = status;
                $scope.resultPhp = result;
            })
        .error(function(result2, status2) {
                $scope.resultPhp = result2 || "mySql Request failed, status="+status2;
            });

  });

</script>

</body>
</html>
