<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>



<body>

<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click="count = count + 1">Click Me!</button>

<p>myCountA={{ count }}</p>

</div>
<hr>  now comes nighchart <br>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<hr>

<script  type="text/javascript">
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.count = 6;


       $(function() {
                   $('#container').highcharts({
                title: { text: 'TITLE myCountB='+$scope.count, x: -20  },
                subtitle: {  text: 'Source: WorldClimate.com',  x: -20 },
                xAxis: {  categories: ['Jan', 'Feb', 'Mar', 'Apr'] },
                yAxis: {  title: { text: 'Temperature (°C)'  },
                    plotLines: [{ value: 0,  width: 1, color: '#808080' }] },
                tooltip: {  valueSuffix: '°C'  },
                legend: {  layout: 'vertical',  align: 'right',  verticalAlign: 'middle',   borderWidth: 0 },
                series: [{
                    name: 'Tokyo',
                    data: [7.0, 6.9, 9.5, 14.5]
                }, {
                    name: 'New York',
                    data: [-0.2, 0.8, 5.7, 11.3]
                }]
            });
        });

});
</script> 

</body>
</html>
